.pageHeader {
    color: black;
    text-align: center;
  }
  
.pageBodyContainer {
    padding-left: 90px;
    padding-right: 90px;
    max-width: 80%;
    min-width: 80%;
    background-color: white;
    min-height: 1000px
}

.pageBodyBed {
    display: flex;
    justify-content: center;
    background-color: rgb(194, 194, 194);
}

