.navbar {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: center;
    padding: 10px;
    background-color: rgb(217, 55, 55);
}

.navPage {
    margin: 30px;
}

.navPageLink {
    font-size: 20px;
    color: rgb(232, 232, 232);
    font-weight: bold;
    border: 3px solid transparent;
    transition: border-color 0.5s ease;
    padding: 20px;
}

.navPageLink:hover {
    border-color: white; 
}